.icon {
  --color: currentColor;

  border: 1px solid var(--color);
  padding: var(--space-2xs);
  border-radius: 50%;
  display: inline-flex;

  svg {
    width: 1em;
    height: 1em;
    stroke-width: 0;
    fill: var(--color);
  }

  &:hover,
  &:focus,
  &:hover svg,
  &:focus svg {
    --color: var(--color-soft-magenta);
  }
}
