body {
  --flow-space: var(--space-m);

  font-size: var(--step-0);
  font-family: var(--font-body);
  color: var(--color-light);
  padding-inline: var(--space-s-l);

  /* Background */
  background-color: var(--color-violet);
  background-image: url('./images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  @media (orientation: landscape) {
    background-image: url('./images/bg-desktop.svg');
    background-size: cover;
  }
}

h1 {
  font-size: var(--step-3);
  line-height: 1.3;
  font-family: var(--font-heading);
  font-weight: var(--weight-bold);
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
}
